@page
@model PRN221_GroupProjectBookParty.Pages.Admin.AdminBooking.IndexModel

@{
    Layout = "/Pages/Layout/_LayoutHost.cshtml";
}
<head>

    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon"
          type="image/x-icon"
          href="https://cdn-icons-png.flaticon.com/512/6556/6556219.png" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <link rel="stylesheet" href="~/js/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet"
          href="~/js/vendor/css/core.css"
          class="template-customizer-core-css" />
    <link rel="stylesheet"
          href="~/js/vendor/css/theme-default.css"
          class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet"
          href="~/js/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="~/js/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/js/js/config.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Thư viện jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Thư viện Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Thư viện DataTable-->


</head>

<body>
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y ">
            <!-- Basic Bootstrap Table -->
            <div class="card">
                <h5 class="card-header"
                    style="display: flex; justify-content: space-between">
                    <div>Danh sách Booking</div>
                    <!-- Button trigger modal -->

                </h5>

                <div class="table-responsive text-nowrap">
                    <table id="myTable" class="table">
                        <thead>
                            <tr>
                                <th style="text-align: center;">STT</th>
                                <th style="text-align: center;">Tên chủ tiệc</th>
                                <th style="text-align: center;">Tên Party</th>
                                <th style="text-align: center;">Tiền</th>
                                <th style="text-align: center;">Số người</th>
                                <th style="text-align: center;">Yêu cầu</th>
                                <th style="text-align: center;">Ngày thuê</th>
                                <th style="text-align: center;">Status</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            @{
                                int index = 1;
                            }
                            @foreach (var item in Model.Bookings)
                            {
                                <tr>
                                    <td style="text-align: center;">
                                        @index
                                    </td>

                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.Guest.UserName)
                                    </td>
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.Party.Name)
                                    </td>
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.TotalPrice)
                                    </td>

                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.NumberOfPeople)
                                    </td>
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.Inquiry)
                                    </td>
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.StartDate)
                                    </td>
                                    <td>

                                        @if (item.Status.Equals("Approved"))
                                        {
                                            <span style="color: red; font-weight: bold">@item.Status</span>
                                        }
                                        else if (item.Status.Equals("Deny"))
                                        {
                                            <span style="color: green; font-weight: bold">@item.Status</span>
                                        }
                                        @{
                                            index++;
                                        }
                                    </td>
                                </tr>
                                index++;
                            }
                        </tbody>
                    </table>
                </div>

                <div class="modal fade" id="modalConfirmDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">XÁC NHẬN LOẠI BỎ</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Bạn có chắc muốn xóa câu hỏi này?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-primary" id="btn-toast-delete" class="btn-close"
                                        data-bs-dismiss="modal" aria-label="Close">
                                    Xác nhận
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- toast thông báo thành công-->

                <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                    <div id="toast-notification" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong id="toast-message" class="me-auto"></strong>

                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                </div>

    <script>
        function showDeactive(id) {
            var btnToastDelete = document.querySelector('#btn-toast-deactive');
            btnToastDelete.addEventListener('click', function () {
                var deleteUrl = 'memberStaff?action=deactive&status=1&id=' + id;
                window.location.href = deleteUrl;
                // Nếu bạn muốn ẩn modal sau khi xác nhận, bạn có thể sử dụng đoạn mã sau:
                document.getElementById('modalConfirmDeactive').style.display = 'none';
            });
        }
        function showActive(id) {
            var btnToastDelete = document.querySelector('#btn-toast-active');
            btnToastDelete.addEventListener('click', function () {
                var deleteUrl = 'memberStaff?action=active&status=0&id=' + id;
                window.location.href = deleteUrl;
                // Nếu bạn muốn ẩn modal sau khi xác nhận, bạn có thể sử dụng đoạn mã sau:
                document.getElementById('modalConfirmActive').style.display = 'none';
            });
        }

        window.addEventListener('DOMContentLoaded', (event) => {
            const message = '${message}'; // Lấy giá trị thông báo từ servlet
            if (message) {
                showToast(message); // Gọi hàm hiển thị thông báo
            }
        });

        function showToast(message) {
            const toast = document.getElementById('toast-notification');
            const toastMessage = document.getElementById('toast-message');
            if (message === 'success') {
                var success = 'Cập nhật trạng thái thành công!';
                toastMessage.textContent = success;
            } else {
                var fail = 'Cập nhật trạng thái thất bại!';
                toastMessage.textContent = fail;
            }
            toast.classList.remove('hide');
            toast.classList.add('show');
            setTimeout(() => {
                toast.classList.remove('show');
            }, 3000);
        }
    </script>
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="~/js/vendor/libs/jquery/jquery.js"></script>
    <script src="~/js/vendor/libs/popper/popper.js"></script>
    <script src="~/js/vendor/js/bootstrap.js"></script>
    <script src="~/js/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/js/vendor/js/menu.js"></script>



    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="~/js/main.js"></script>

    <!-- Page JS -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>