@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using PRN221_WebNovel.Models
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var userType = HttpContextAccessor.HttpContext?.Session.GetString("role");
    var loginUserJson = HttpContextAccessor.HttpContext?.Session.GetString("loginUser");
    var loginUser = loginUserJson != null && loginUserJson.Trim() != ""
    ? JsonConvert.DeserializeObject<AccountViewmodel>(loginUserJson) : null;
    var loginUserName = loginUser != null ? loginUser.UserName : null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>
    <link rel="icon"
          type="image/x-icon"
          href="https://cdn-icons-png.flaticon.com/512/6556/6556219.png" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon"
          type="image/x-icon"
          href="https://cdn-icons-png.flaticon.com/512/6556/6556219.png" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <link rel="stylesheet" href="~/js/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet"
          href="~/js/vendor/css/core.css"
          class="template-customizer-core-css" />
    <link rel="stylesheet"
          href="~/js/vendor/css/theme-default.css"
          class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/css/demo.css" />
    <link rel="stylesheet" href="~/css/dashboard.css">

    <!-- Vendors CSS -->
    <link rel="stylesheet"
          href="~/js/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/js/vendor/libs/apex-charts/apex-charts.css">
    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="~/js/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/js/js/config.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Thư viện jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Thư viện Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Thư viện DataTable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.bootstrap5.css" />

    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
</head>
<style>
    /* Tùy chỉnh thanh cuộn */
    ::-webkit-scrollbar {
        width: 6px; /* Đặt chiều rộng của thanh cuộn */
    }

    ::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Màu nền của thanh cuộn */
    }

    ::-webkit-scrollbar-thumb {
        background-color: #888; /* Màu của thanh cuộn */
        border-radius: 3px; /* Bo cong viền của thanh cuộn */
    }

        ::-webkit-scrollbar-thumb:hover {
            background-color: #555; /* Màu của thanh cuộn khi di chuột qua */
        }
</style>
<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            <aside id="layout-menu"
                   class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">

                    <span class="app-brand-logo demo"> </span>
                    <img src="https://png.pngtree.com/png-clipart/20230914/original/pngtree-house-party-vector-png-image_12163743.png" alt="Logo" class="w-8 h-8" style="width: 80px;
                         height: auto">
                    <span class=" demo menu-text fw-bold ms-2">Party Host</span>


                    <a href="javascript:void(0);"
                       class="layout menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    @if (loginUser != null && loginUser.Role == "Host")
                    {
                        <li class="menu-header small text-uppercase">
                            <span class="menu-header-text">Tools &amp; Host</span>
                        </li>
                        <!-- Layouts -->

                        <li class="menu-item">
                            <a href="/Host/HostParty/PartyManagement" class="menu-link">
                                <i class="menu-icon fa-solid fa-house"></i>
                                <div data-i18n="Layouts">Quản lý phòng tiệc</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/Host/HostBooking/List" class="menu-link">
                                <i class="menu-icon fa-solid fa-money-check"></i>
                                <div data-i18n="Layouts">Booking Management</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/Host/HostBooking/Index" class="menu-link">
                                <i class="menu-icon fa-solid fa-clipboard-list"></i>
                                <div data-i18n="Layouts">List Booking</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/Host/BlogPosts/List" class="menu-link">
                                <i class="menu-icon fa-solid fa-newspaper"></i>
                                <div data-i18n="Layouts">Blog Post</div>
                            </a>
                        </li>
                    }

                    @if (loginUser != null && loginUser.Role == "Admin")
                    {
                        <li class="menu-header small text-uppercase">
                            <span class="menu-header-text">Admin</span>
                        </li>
                        <li class="menu-item">
                            <a href="UserManagement" class="menu-link">
                                <i class=" menu-icon tf-icons fa-solid fa-clipboard-user"></i>
                                <div data-i18n="Layouts">Dashboard</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/Admin/AdminAccount" class="menu-link">
                                <i class="menu-icon tf-icons fa-solid fa-users"></i>
                                <div data-i18n="Layouts">User</div>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="/Admin/AdminParty" class="menu-link">
                                <i class="menu-icon tf-icons fa-solid fa-people-group"></i>
                                <div data-i18n="Layouts">List Party</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/Admin/AdminBooking" class="menu-link">
                                <i class="menu-icon fa-solid fa-clipboard-list"></i>
                                <div data-i18n="Layouts">List All Booking</div>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="/Host/BlogPosts/List" class="menu-link">
                                <i class="menu-icon fa-solid fa-newspaper"></i>
                                <div data-i18n="Layouts">Blog Post</div>
                            </a>
                        </li>
                    }

                    <li class="menu-item"
                        data-toggle="tooltip"
                        data-bs-toggle="modal"
                        data-bs-target="#modalConfirmLogout"
                        onclick="logout()">
                        <a href="#" class="menu-link">
                            <i class="menu-icon fa-solid fa-arrow-right-from-bracket"></i>
                            <div data-i18n="Layouts">Log out</div>
                        </a>
                    </li>
                </ul>
            </aside>
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                     id="layout-navbar">
                    <div class="layout navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4"
                           href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center"
                         id="navbar-collapse">
                        <!-- Search -->
                        @if (loginUser != null)
                        {
                            <div class="navbar-nav align-items-center">
                                <div class="nav-item d-flex align-items-center">
                                    <i class="fa-solid fa-seedling"></i>
                                    <input type="text"
                                           class="form-control border-0 shadow-none ps-1 ps-sm-3"
                                           placeholder="Welcome, @loginUserName"
                                           aria-label="Welcome, @loginUserName" readonly />
                                </div>
                            </div>
                        }
                        <!-- /Search -->
                    </div>
                </nav>
                <!-- / Navbar -->
                <div>
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->

    <div class="modal fade" id="modalConfirmLogout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">COMFIRM LOGOUT</h5>
                </div>
                <div class="modal-body">
                    Are you sure to logout?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
                    <button type="button" class="btn btn-primary" id="btn-toast-logout" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close">
                        Comfirm
                    </button>
                </div>
            </div>
        </div>
    </div>
    @* @RenderSectionAsync("Scripts", required: false) *@
</body>
<script>
    function logout() {
        var btnToastDelete = document.querySelector('#btn-toast-logout');
        btnToastDelete.addEventListener('click', function () {
            var deleteUrl = '/Authentication/Logout';
            window.location.href = deleteUrl;
            // Nếu bạn muốn ẩn modal sau khi xác nhận, bạn có thể sử dụng đoạn mã sau:
            document.getElementById('modalConfirmLogout').style.display = 'none';
        });
    }

    // Lắng nghe sự kiện click trên các thẻ li
    var liItems = document.querySelectorAll('.menu-item');
    liItems.forEach(function (li) {
        li.addEventListener('click', function () {
            // Xóa class "active" trên tất cả các thẻ li
            liItems.forEach(function (item) {
                item.classList.remove('active');
            });
            // Thêm class "active" vào thẻ li được nhấp vào
            li.classList.add('active');
        });
    });

    // Kiểm tra nếu có class "active" trong URL, thêm class "active" vào thẻ li tương ứng
    var url = window.location.href;
    liItems.forEach(function (li) {
        if (url.includes(li.querySelector('a').getAttribute('href'))) {
            li.classList.add('active');
        }
    });
</script>
<script src="~/js/vendor/libs/jquery/jquery.js"></script>
<script src="~/js/vendor/libs/popper/popper.js"></script>
<script src="~/js/vendor/js/bootstrap.js"></script>
<script src="~/js/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="~/js/vendor/js/menu.js"></script>

<!-- endbuild -->
<!-- Vendors JS -->
<!-- Main JS -->
<script src="~/js/main.js"></script>

<!-- Page JS -->
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- DataTable-->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.bootstrap5.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
</html>
