@page
@model PRN221_GroupProjectBookParty.Pages.Admin.AdminParty.IndexModel
@{
    Layout = "/Pages/Layout/_LayoutHost.cshtml";
}


<body>
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y ">
            <!-- Basic Bootstrap Table -->
            <div class="card">
                <h5 class="card-header"
                    style="display: flex; justify-content: space-between">
                    <div>Danh sách Booking</div>
                    <!-- Button trigger modal -->

                </h5>

                <div class="table-responsive text-nowrap">
                    <table id="myTable" class="table">
                        <thead>
                            <tr>
                                <th style ="text-align: center;">STT</th>
                                <th style="text-align: center;">Tên chủ tiệc</th>
                                <th style="text-align: center;">Tên</th>
                                <th style="text-align: center;">Hình ảnh</th>
                                <th style="text-align: center;">Giá</th>
                                <th style="text-align: center;">Chủ đề</th>
                                <th style="text-align: center;">Số lượng</th>
                                <th style="text-align: center;">Yêu cầu</th>
                                <th style="text-align: center;">Status</th>
                                <th style="text-align: center;">Action</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            @{
                                int index = 1;
                            }
                            @foreach (var item in Model.Parties)
                            {
                                <tr>
                                    <td style="text-align: center;">
                                        @index
                                    </td>

                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.Host.UserName)
                                    </td>
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        <img src="@item.ImageUrl" alt="Party Image" style="max-width: 100px; max-height: 100px;" />
                                    </td>
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>

                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.Theme)
                                    </td>
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.MaxPeople)
                                    </td>
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.Request)
                                    </td>
                                    <td>

                                        @if (item.Status == false)
                                        {
                                            <span style="color: red; font-weight: bold">Thất bại</span>
                                        }
                                        else if (item.Status == true)
                                        {
                                            <span style="color: green; font-weight: bold">Thành công</span>
                                        }
                                        @{
                                            index++;
                                        }
                                    </td>
                                    <td>
                                        <a type="btn btn-success" type="button" class="btn btn-sm btn-outline-secondary" asp-page="./Delete" asp-route-id="@item.Id">chặn</a>
                                    </td>
                                </tr>
                                index++;
                            }
                        </tbody>
                    </table>
                </div>

                <div class="modal fade" id="modalConfirmDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">XÁC NHẬN LOẠI BỎ</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Bạn có chắc muốn xóa câu hỏi này?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-primary" id="btn-toast-delete" class="btn-close"
                                        data-bs-dismiss="modal" aria-label="Close">
                                    Xác nhận
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- toast thông báo thành công-->

                <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                    <div id="toast-notification" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong id="toast-message" class="me-auto"></strong>

                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                </div>

</body>
