@page
@model PRN221_GroupProjectBookParty.Pages.Host.BlogPosts.ListModel
@{
    ViewData["Title"] = "Host - Manage Blog";
    Layout = "/Pages/Layout/_LayoutHost.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon"
          type="image/x-icon"
          href="https://cdn-icons-png.flaticon.com/512/6556/6556219.png" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <link rel="stylesheet" href="~/js/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet"
          href="~/js/vendor/css/core.css"
          class="template-customizer-core-css" />
    <link rel="stylesheet"
          href="~/js/vendor/css/theme-default.css"
          class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet"
          href="~/js/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="~/js/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/js/js/config.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Thư viện jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Thư viện Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y ">
            <div class="card">
                <h5 class="card-header"
                    style="display: flex; justify-content: space-between">
                    <div>Quản lý Blog</div>
                    <!-- Button trigger modal -->
                    <div>
                        <a title="Tạo câu hỏi" asp-page="Add">
                            <button type="button" class="btn btn-primary" style="padding: 0.8rem"><i class="fas fa-plus"></i></button>
                        </a>
                    </div>
                </h5>
                <partial name="_Notification" />


                @if (Model.Blogs != null && Model.Blogs.Any())
                {
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Id</td>
                                    <td>Heading</td>
                                    <td>Page Title</td>
                                    <td>Content</td>
                                    <td>Short Description</td>
                                    <td>Image Url</td>
                                    <td>Published Date</td>
                                    <td>Visible</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var blogPost in Model.Blogs)
                                {
                                    <tr>
                                        <td>@blogPost.Id</td>
                                        <td>@blogPost.Heading</td>
                                        <td>@blogPost.PageTitle</td>
                                        <td>@blogPost.Content</td>
                                        <td>@blogPost.ShortDescription</td>
                                        <td>@blogPost.ImageUrl</td>
                                        <td>@blogPost.PublishedDate</td>
                                        <td>@blogPost.Visible</td>
                                        <td><a href="/Host/BlogPosts/Edit/@blogPost.Id">Edit</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="container">
                        <p>No blog posts were found!</p>
                    </div>
                }
                <!-- toast thông báo thành công-->

                <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                    <div id="toast-notification" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong id="toast-message" class="me-auto"></strong>

                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                </div>

            </div>
            <nav aria-label="Page navigation"
                 style="position: fixed;
                                 bottom: 0.25rem;
                                 right: 1.5rem;">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <c:set var="page" value="${totalSize / 50}" />
                    <c:if test="${totalSize % 50 > 0}">
                        <c:set var="totalPages" value="${page + 1}" />
                    </c:if>
                    <c:forEach var="i" begin="2" end="${totalPages}">
                        <li class="page-item"><a class="page-link" href="#"><c:out value="${i}" /></a></li>
                    </c:forEach>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</body>
