@page
@model PRN221_GroupProjectBookParty.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="get" asp-page="./Index">
    <div class="form-group" style="display: flex;justify-content: space-between;">
        <div>
            <label for="searchQuery">Search:</label>
            <input type="text" id="searchQuery" name="searchQuery" class="form-control" />
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <div>
            <a asp-page="Create" class="btn btn-primary">Create New</a>
        </div>

    </div>

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Account) {
            if(item.Status == true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            
}
    </tbody>
</table>
